.40_168 { 
	overflow:hidden;
}.e40_168 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}.e40_169 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}.e40_170 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/rectangle_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e40_174 { 
	width:644.2597045898438px;
	height:450px;
	position:absolute;
	left:638px;
	top:248px;
}.e40_175 { 
	background-color:rgba(5.000000176951289, 29.400000907480717, 249.00000035762787, 1);
	width:644.2597045898438px;
	height:75.83333587646484px;
	position:absolute;
	left:1.1368683772161603e-13px;
	top:345px;
}.e40_176 { 
	background-color:rgba(61.90833382308483, 123.36052492260933, 195.49999594688416, 0.699999988079071);
	width:644.2597045898438px;
	height:375px;
	position:absolute;
	left:1.1368683772161603e-13px;
	top:75px;
}.e40_177 { 
	width:566.9485473632812px;
	height:270px;
	position:absolute;
	left:32.21306228637695px;
	top:75px;
	background-image:url(images/consejero_combine.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e40_178 { 
	color:rgba(255, 255, 255, 1);
	width:323px;
	height:49px;
	position:absolute;
	left:151px;
	top:358px;
	font-family:Nunito;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}.e40_179 { 
	background-color:rgba(5.000000176951289, 117.24000334739685, 249.00000035762787, 1);
	width:644.2597045898438px;
	height:75px;
	position:absolute;
	left:0px;
	top:0px;
}.e40_180 { 
	color:rgba(255, 255, 255, 1);
	width:405px;
	height:49px;
	position:absolute;
	left:119px;
	top:13px;
	font-family:Nunito;
	text-align:left;
	font-size:42px;
	letter-spacing:0;
}.e40_252 { 
	width:370px;
	height:143px;
	position:absolute;
	left:1524px;
	top:670px;
}.e40_253 { 
	background-color:rgba(45.00000111758709, 88.00000235438347, 138.00000697374344, 0.699999988079071);
	width:323px;
	height:143px;
	position:absolute;
	left:24px;
	top:0px;
}.40_253 { 
	border:7px solid rgba(5.000000176951289, 117.24000334739685, 249.00000035762787, 1);
}.e40_254 { 
	color:rgba(255, 255, 255, 1);
	width:260px;
	height:81px;
	position:absolute;
	left:110px;
	top:31px;
	font-family:Nunito;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}.e47_408 { 
	width:143px;
	height:143px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/icono_atras.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e40_256 { 
	width:356px;
	height:143px;
	position:absolute;
	left:1524px;
	top:853px;
}.e40_257 { 
	background-color:rgba(43.00000123679638, 86.00000247359276, 137.00000703334808, 0.699999988079071);
	width:323px;
	height:143px;
	position:absolute;
	left:24px;
	top:0px;
}.40_257 { 
	border:7px solid rgba(5.000000176951289, 117.24000334739685, 249.00000035762787, 1);
}.e47_404 { 
	color:rgba(255, 255, 255, 1);
	width:260px;
	height:81px;
	position:absolute;
	left:96px;
	top:39px;
	font-family:Nunito;
	text-align:left;
	font-size:47px;
	letter-spacing:0;
}.e40_259 { 
	width:143px;
	height:143px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/icono_categorias.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e40_260 { 
	width:323px;
	height:143px;
	position:absolute;
	left:1548px;
	top:473px;
}.e40_261 { 
	background-color:rgba(36.00000165402889, 66.00000366568565, 100.00000163912773, 0.699999988079071);
	width:323px;
	height:143px;
	position:absolute;
	left:0px;
	top:0px;
}.40_261 { 
	border:7px solid rgba(5.000000176951289, 117.24000334739685, 249.00000035762787, 1);
}.e40_262 { 
	color:rgba(255, 255, 255, 1);
	width:144px;
	height:64px;
	position:absolute;
	left:152px;
	top:37px;
	font-family:Nunito;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e40_263 { 
	width:143px;
	height:143px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/rectangle_14.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e40_265 { 
	background-color:rgba(49.00000087916851, 91.00000217556953, 140.00000685453415, 0.699999988079071);
	width:1920px;
	height:95px;
	position:absolute;
	left:-9px;
	top:0px;
}.e40_172 { 
	width:1834px;
	height:58px;
	position:absolute;
	left:59px;
	top:21px;
}.e40_173 { 
	color:rgba(255, 255, 255, 1);
	width:1834px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Nunito;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}