.52_969 { 
	overflow:hidden;
}.e52_969 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}.e52_970 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}.e52_971 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/rectangle_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e52_972 { 
	width:1920px;
	height:524px;
	position:absolute;
	left:0px;
	top:556px;
}.e52_973 { 
	background-color:rgba(29.48437537997961, 107.19512835144997, 196.5624949336052, 0.699999988079071);
	width:1920px;
	height:524px;
	position:absolute;
	left:0px;
	top:0px;
}.e52_974 { 
	width:1859px;
	height:495px;
	position:absolute;
	left:36px;
	top:0px;
}.e52_975 { 
	color:rgba(255, 255, 255, 1);
	width:1859px;
	height:495px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Nunito;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e52_976 { 
	width:597.1643676757812px;
	height:556px;
	position:absolute;
	left:1.1368683772161603e-13px;
	top:0px;
}.e52_977 { 
	background-color:rgba(29.48437537997961, 107.19512835144997, 196.5624949336052, 0.800000011920929);
	width:597.1643676757812px;
	height:556px;
	position:absolute;
	left:0px;
	top:0px;
}.e52_978 { 
	width:561px;
	height:445px;
	position:absolute;
	left:18px;
	top:55px;
	background-image:url(images/rectangle_12.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e55_86 { 
	width:370px;
	height:143px;
	position:absolute;
	left:1525px;
	top:292px;
}.e55_87 { 
	background-color:rgba(45.00000111758709, 88.00000235438347, 138.00000697374344, 0.699999988079071);
	width:323px;
	height:143px;
	position:absolute;
	left:24px;
	top:0px;
}.55_87 { 
	border:7px solid rgba(5.000000176951289, 117.24000334739685, 249.00000035762787, 1);
}.e55_88 { 
	color:rgba(255, 255, 255, 1);
	width:260px;
	height:81px;
	position:absolute;
	left:110px;
	top:31px;
	font-family:Nunito;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}.e55_89 { 
	width:143px;
	height:143px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/icono_atras.png);
	background-repeat:no-repeat;
	background-size:cover;
}