.49_653 { 
	overflow:hidden;
}.e49_653 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}.e49_654 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}.e49_655 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/rectangle_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e49_656 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/rectangle_8.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e49_657 { 
	width:1920px;
	height:524px;
	position:absolute;
	left:0px;
	top:556px;
}.e49_658 { 
	background-color:rgba(253.93750101327896, 137.12626665830612, 0, 0.699999988079071);
	width:1920px;
	height:524px;
	position:absolute;
	left:0px;
	top:0px;
}.e49_659 { 
	width:1859px;
	height:495px;
	position:absolute;
	left:36px;
	top:0px;
}.e49_660 { 
	color:rgba(255, 255, 255, 1);
	width:1859px;
	height:495px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Nunito;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}.e49_661 { 
	width:597.1643676757812px;
	height:556px;
	position:absolute;
	left:1.1368683772161603e-13px;
	top:0px;
}.e49_662 { 
	background-color:rgba(253.93750101327896, 137.12626665830612, 0, 0.699999988079071);
	width:597.1643676757812px;
	height:556px;
	position:absolute;
	left:0px;
	top:0px;
}.e49_663 { 
	width:541px;
	height:519px;
	position:absolute;
	left:28px;
	top:0px;
	background-image:url(images/rectangle_12.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e55_26 { 
	width:370px;
	height:145px;
	position:absolute;
	left:1550px;
	top:299px;
}.e55_27 { 
	background-color:rgba(253.93750101327896, 137.12626665830612, 0, 0.699999988079071);
	width:323px;
	height:143px;
	position:absolute;
	left:24px;
	top:2px;
}.55_27 { 
	border:7px solid rgba(232.00000137090683, 132.0000073313713, 13.000000175088644, 1);
}.e55_28 { 
	color:rgba(255, 255, 255, 1);
	width:260px;
	height:81px;
	position:absolute;
	left:110px;
	top:33px;
	font-family:Nunito;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}.e55_29 { 
	width:143px;
	height:143px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/icono_categorias.png);
	background-repeat:no-repeat;
	background-size:cover;
}