.52_1125 { 
	overflow:hidden;
}.e52_1125 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}.e52_1126 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}.e52_1127 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/rectangle_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e52_1128 { 
	width:1920px;
	height:524px;
	position:absolute;
	left:0px;
	top:556px;
}.e52_1129 { 
	background-color:rgba(28.000000230968, 129.00000751018524, 40.00000141561031, 0.699999988079071);
	width:1920px;
	height:524px;
	position:absolute;
	left:0px;
	top:0px;
}.e52_1130 { 
	width:1859px;
	height:524px;
	position:absolute;
	left:36px;
	top:0px;
}.e52_1131 { 
	color:rgba(255, 255, 255, 1);
	width:1859px;
	height:524px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Nunito;
	text-align:left;
	font-size:55px;
	letter-spacing:0;
}.e52_1132 { 
	width:597.1643676757812px;
	height:556px;
	position:absolute;
	left:1.1368683772161603e-13px;
	top:0px;
}.e52_1133 { 
	background-color:rgba(28.000000230968, 129.00000751018524, 40.00000141561031, 0.800000011920929);
	width:597.1643676757812px;
	height:556px;
	position:absolute;
	left:0px;
	top:0px;
}.e52_1134 { 
	width:333px;
	height:516px;
	position:absolute;
	left:123px;
	top:11px;
	background-image:url(images/rectangle_12.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e55_142 { 
	width:370px;
	height:143px;
	position:absolute;
	left:1525px;
	top:292px;
}.e55_143 { 
	background-color:rgba(38.0000015348196, 169.00000512599945, 26.000000350177288, 0.699999988079071);
	width:323px;
	height:143px;
	position:absolute;
	left:24px;
	top:0px;
}.55_143 { 
	border:7px solid rgba(21.398603059351444, 255, 0, 1);
}.e55_144 { 
	color:rgba(255, 255, 255, 1);
	width:260px;
	height:81px;
	position:absolute;
	left:110px;
	top:33px;
	font-family:Nunito;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}.e55_145 { 
	width:143px;
	height:143px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/icono_categorias.png);
	background-repeat:no-repeat;
	background-size:cover;
}