.44_342 { 
	overflow:hidden;
}.e44_342 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}.e44_343 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}.e44_344 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/rectangle_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e44_345 { 
	background-color:rgba(37.00000159442425, 170.0000050663948, 27.000000290572643, 0.699999988079071);
	width:1920px;
	height:95px;
	position:absolute;
	left:0px;
	top:0px;
}.e44_346 { 
	color:rgba(255, 255, 255, 1);
	width:1834px;
	height:58px;
	position:absolute;
	left:59px;
	top:21px;
	font-family:Nunito;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e44_347 { 
	width:360px;
	height:450px;
	position:absolute;
	left:100px;
	top:126px;
}.e44_348 { 
	background-color:rgba(17.478129230439663, 249.6875050663948, 0, 1);
	width:360px;
	height:75.83333587646484px;
	position:absolute;
	left:1.1368683772161603e-13px;
	top:345px;
}.e44_349 { 
	background-color:rgba(27.000000290572643, 121.00000038743019, 21.000000648200512, 0.699999988079071);
	width:360px;
	height:375px;
	position:absolute;
	left:1.1368683772161603e-13px;
	top:75px;
}.e44_350 { 
	background-color:rgba(26.000000350177288, 119.00000050663948, 19.0000007674098, 1);
	width:360px;
	height:75px;
	position:absolute;
	left:0px;
	top:0px;
}.e44_351 { 
	width:258px;
	height:270px;
	position:absolute;
	left:51px;
	top:75px;
	background-image:url(images/barnacle_.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e44_352 { 
	color:rgba(255, 255, 255, 1);
	width:313.20001220703125px;
	height:49.16666793823242px;
	position:absolute;
	left:23px;
	top:358px;
	font-family:Nunito;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}.e44_353 { 
	color:rgba(255, 255, 255, 1);
	width:201px;
	height:49px;
	position:absolute;
	left:79px;
	top:13px;
	font-family:Nunito;
	text-align:left;
	font-size:42px;
	letter-spacing:0;
}.e44_354 { 
	width:356px;
	height:450px;
	position:absolute;
	left:611px;
	top:588px;
}.e44_355 { 
	background-color:rgba(17.478129230439663, 249.6875050663948, 0, 1);
	width:356px;
	height:76px;
	position:absolute;
	left:0px;
	top:345px;
}.e44_356 { 
	background-color:rgba(27.000000290572643, 121.00000038743019, 21.000000648200512, 0.699999988079071);
	width:356px;
	height:375px;
	position:absolute;
	left:0px;
	top:75px;
}.e44_357 { 
	background-color:rgba(26.000000350177288, 119.00000050663948, 19.0000007674098, 1);
	width:349px;
	height:75px;
	position:absolute;
	left:0px;
	top:0px;
}.e44_358 { 
	width:258px;
	height:270px;
	position:absolute;
	left:50.99981689453125px;
	top:75px;
	background-image:url(images/hormiga_le_n_guardiana.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e44_359 { 
	color:rgba(255, 255, 255, 1);
	width:313.20001220703125px;
	height:49.166664123535156px;
	position:absolute;
	left:31px;
	top:358px;
	font-family:Nunito;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}.e44_360 { 
	color:rgba(255, 255, 255, 1);
	width:344px;
	height:49px;
	position:absolute;
	left:5px;
	top:13px;
	font-family:Nunito;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}.e44_375 { 
	width:372px;
	height:450px;
	position:absolute;
	left:600px;
	top:126.00007629394531px;
}.e44_376 { 
	background-color:rgba(17.478129230439663, 249.6875050663948, 0, 1);
	width:360px;
	height:75.83333587646484px;
	position:absolute;
	left:0px;
	top:345px;
}.e44_377 { 
	background-color:rgba(27.000000290572643, 121.00000038743019, 21.000000648200512, 0.699999988079071);
	width:360px;
	height:375px;
	position:absolute;
	left:0px;
	top:75px;
}.e44_378 { 
	background-color:rgba(26.000000350177288, 119.00000050663948, 19.0000007674098, 1);
	width:360px;
	height:75px;
	position:absolute;
	left:0px;
	top:0px;
}.e44_379 { 
	width:266px;
	height:270px;
	position:absolute;
	left:42px;
	top:75px;
	background-image:url(images/hormiga_le_n_soldado.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e44_380 { 
	color:rgba(255, 255, 255, 1);
	width:313.20001220703125px;
	height:49.16666793823242px;
	position:absolute;
	left:23px;
	top:358px;
	font-family:Nunito;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}.e44_381 { 
	color:rgba(255, 255, 255, 1);
	width:361px;
	height:49px;
	position:absolute;
	left:11px;
	top:24px;
	font-family:Nunito;
	text-align:left;
	font-size:31px;
	letter-spacing:0;
}.e44_382 { 
	width:360px;
	height:450px;
	position:absolute;
	left:1096px;
	top:126.00007629394531px;
}.e44_383 { 
	background-color:rgba(17.478129230439663, 249.6875050663948, 0, 1);
	width:360px;
	height:75.83333587646484px;
	position:absolute;
	left:0px;
	top:345px;
}.e44_384 { 
	background-color:rgba(27.000000290572643, 121.00000038743019, 21.000000648200512, 0.699999988079071);
	width:360px;
	height:375px;
	position:absolute;
	left:0px;
	top:75px;
}.e44_385 { 
	background-color:rgba(26.000000350177288, 119.00000050663948, 19.0000007674098, 1);
	width:360px;
	height:75px;
	position:absolute;
	left:0px;
	top:0px;
}.e44_386 { 
	width:317px;
	height:270px;
	position:absolute;
	left:22px;
	top:74.99992370605469px;
	background-image:url(images/hormiga_le_n_obrera.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e44_387 { 
	color:rgba(255, 255, 255, 1);
	width:313.20001220703125px;
	height:49.16666793823242px;
	position:absolute;
	left:33px;
	top:358px;
	font-family:Nunito;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}.e44_388 { 
	color:rgba(255, 255, 255, 1);
	width:341px;
	height:49px;
	position:absolute;
	left:19px;
	top:13px;
	font-family:Nunito;
	text-align:left;
	font-size:31px;
	letter-spacing:0;
}.e44_389 { 
	width:347px;
	height:143px;
	position:absolute;
	left:1524px;
	top:865px;
}.e44_390 { 
	background-color:rgba(39.00000147521496, 170.0000050663948, 26.000000350177288, 0.699999988079071);
	width:323px;
	height:143px;
	position:absolute;
	left:24px;
	top:0px;
}.44_390 { 
	border:7px solid rgba(14.468086548149586, 255, 0, 1);
}.e44_391 { 
	color:rgba(255, 255, 255, 1);
	width:251px;
	height:61px;
	position:absolute;
	left:96px;
	top:41px;
	font-family:Nunito;
	text-align:left;
	font-size:47px;
	letter-spacing:0;
}.e47_409 { 
	width:143px;
	height:143px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/icono_atras.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e44_397 { 
	width:323px;
	height:143px;
	position:absolute;
	left:1547px;
	top:475px;
}.e44_398 { 
	background-color:rgba(52.347252666950226, 240.12499898672104, 36.018749848008156, 0.699999988079071);
	width:323px;
	height:143px;
	position:absolute;
	left:0px;
	top:0px;
}.44_398 { 
	border:7px solid rgba(24.490250162780285, 255, 10.625000316649675, 1);
}.e44_399 { 
	color:rgba(255, 255, 255, 1);
	width:144px;
	height:64px;
	position:absolute;
	left:152px;
	top:37px;
	font-family:Nunito;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e44_400 { 
	width:143px;
	height:143px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/rectangle_14.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e44_393 { 
	width:370px;
	height:143px;
	position:absolute;
	left:1524px;
	top:670px;
}.e44_394 { 
	background-color:rgba(38.0000015348196, 169.00000512599945, 26.000000350177288, 0.699999988079071);
	width:323px;
	height:143px;
	position:absolute;
	left:24px;
	top:0px;
}.44_394 { 
	border:7px solid rgba(21.398603059351444, 255, 0, 1);
}.e47_407 { 
	color:rgba(255, 255, 255, 1);
	width:260px;
	height:81px;
	position:absolute;
	left:110px;
	top:33px;
	font-family:Nunito;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}.e44_396 { 
	width:143px;
	height:143px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/icono_categorias.png);
	background-repeat:no-repeat;
	background-size:cover;
}