.55_196 { 
	overflow:hidden;
}.e55_196 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}.e55_197 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}.e55_198 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/rectangle_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e55_199 { 
	background-color:rgba(253.93750101327896, 137.12626665830612, 0, 0.699999988079071);
	width:1920px;
	height:388px;
	position:absolute;
	left:0px;
	top:243px;
}.e60_2 { 
	background-color:rgba(253.93750101327896, 137.12626665830612, 0, 0.699999988079071);
	width:1401px;
	height:194px;
	position:absolute;
	left:0px;
	top:665px;
}.e55_200 { 
	width:1893px;
	height:569px;
	position:absolute;
	left:0px;
	top:261px;
}.e55_201 { 
	color:rgba(255, 255, 255, 1);
	width:1803px;
	height:332px;
	position:absolute;
	left:90px;
	top:0px;
	font-family:Nunito;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}.e60_3 { 
	color:rgba(255, 255, 255, 1);
	width:1379px;
	height:137px;
	position:absolute;
	left:0px;
	top:432px;
	font-family:Nunito;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e55_214 { 
	width:435px;
	height:173px;
	position:absolute;
	left:1437px;
	top:737px;
}.e55_215 { 
	background-color:rgba(253.93750101327896, 137.12626665830612, 0, 0.699999988079071);
	width:435px;
	height:173px;
	position:absolute;
	left:0px;
	top:0px;
}.55_215 { 
	border:7px solid rgba(231.62500709295273, 132.39527732133865, 12.546353917568922, 1);
}.e55_216 { 
	color:rgba(255, 255, 255, 1);
	width:193.931884765625px;
	height:77.42657470703125px;
	position:absolute;
	left:204.7058868408203px;
	top:44.762237548828125px;
	font-family:Nunito;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e55_217 { 
	width:192.58514404296875px;
	height:173px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/rectangle_14.png);
	background-repeat:no-repeat;
	background-size:cover;
}