.8_3 { 
	overflow:hidden;
}.e8_3 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}.e1_17 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}.e3_2 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/rectangle_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_4 { 
	background-color:rgba(253.93750101327896, 137.12626665830612, 0, 1);
	width:430px;
	height:128px;
	position:absolute;
	left:221px;
	top:793px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}.e1_10 { 
	background-color:rgba(253.93750101327896, 137.12626665830612, 0, 0.699999988079071);
	width:1920px;
	height:198px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_12 { 
	background-color:rgba(249.00000035762787, 198.00000339746475, 5.000000176951289, 1);
	width:360px;
	height:92px;
	position:absolute;
	left:14px;
	top:244px;
}.e3_3 { 
	background-color:rgba(249.00000035762787, 198.00000339746475, 5.000000176951289, 1);
	width:360px;
	height:92px;
	position:absolute;
	left:429px;
	top:244px;
}.e9_8 { 
	background-color:rgba(255, 122.3999972641468, 0, 1);
	width:209px;
	height:17px;
	position:absolute;
	left:1306px;
	top:158px;
}.e9_9 { 
	background-color:rgba(255, 122.3999972641468, 0, 1);
	width:332px;
	height:17px;
	position:absolute;
	left:1561px;
	top:158px;
}.e9_21 { 
	width:1863px;
	height:886px;
	position:absolute;
	left:43px;
	top:14px;
}.e1_5 { 
	color:rgba(255, 255, 255, 1);
	width:349px;
	height:72px;
	position:absolute;
	left:222px;
	top:814px;
	font-family:Nunito;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}.e1_8 { 
	color:rgba(250.00000029802322, 199.0000033378601, 4.000000236555934, 1);
	width:591px;
	height:105px;
	position:absolute;
	left:108px;
	top:494px;
	font-family:Nunito;
	text-align:left;
	font-size:66px;
	letter-spacing:0;
}.e3_16 { 
	color:rgba(255, 255, 255, 1);
	width:626px;
	height:165px;
	position:absolute;
	left:86px;
	top:599px;
	font-family:Nunito;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e1_7 { 
	color:rgba(255, 255, 255, 1);
	width:1834px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Nunito;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e1_13 { 
	color:rgba(255, 255, 255, 1);
	width:297px;
	height:78px;
	position:absolute;
	left:16px;
	top:244px;
	font-family:Nunito;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}.e9_5 { 
	color:rgba(255, 255, 255, 1);
	width:345px;
	height:80px;
	position:absolute;
	left:1518px;
	top:86px;
	font-family:Nunito;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}.e9_7 { 
	color:rgba(255, 255, 255, 1);
	width:209px;
	height:63px;
	position:absolute;
	left:1276px;
	top:81px;
	font-family:Nunito;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}.e1_16 { 
	color:rgba(255, 255, 255, 1);
	width:290px;
	height:65px;
	position:absolute;
	left:422px;
	top:244px;
	font-family:Nunito;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}