.40_103 { 
	overflow:hidden;
}.e40_103 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}.e40_104 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}.e40_105 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/rectangle_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e40_109 { 
	width:360px;
	height:450px;
	position:absolute;
	left:100px;
	top:126px;
}.e40_110 { 
	background-color:rgba(5.000000176951289, 29.400000907480717, 249.00000035762787, 1);
	width:360px;
	height:75.83333587646484px;
	position:absolute;
	left:1.1368683772161603e-13px;
	top:345px;
}.e40_111 { 
	background-color:rgba(61.90833382308483, 123.36052492260933, 195.49999594688416, 0.699999988079071);
	width:360px;
	height:375px;
	position:absolute;
	left:1.1368683772161603e-13px;
	top:75px;
}.e40_112 { 
	width:316.79998779296875px;
	height:270px;
	position:absolute;
	left:18px;
	top:75px;
	background-image:url(images/cyty_scaner.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e40_113 { 
	color:rgba(255, 255, 255, 1);
	width:313.20001220703125px;
	height:49.16666793823242px;
	position:absolute;
	left:33px;
	top:358px;
	font-family:Nunito;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}.e40_114 { 
	background-color:rgba(5.000000176951289, 117.24000334739685, 249.00000035762787, 1);
	width:360px;
	height:75px;
	position:absolute;
	left:0px;
	top:0px;
}.e40_115 { 
	color:rgba(255, 255, 255, 1);
	width:253px;
	height:49px;
	position:absolute;
	left:53px;
	top:13px;
	font-family:Nunito;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e40_116 { 
	width:420px;
	height:450px;
	position:absolute;
	left:100px;
	top:615px;
}.e40_117 { 
	background-color:rgba(5.000000176951289, 29.400000907480717, 249.00000035762787, 1);
	width:360px;
	height:75.83333587646484px;
	position:absolute;
	left:0px;
	top:345px;
}.e40_118 { 
	background-color:rgba(61.90833382308483, 123.36052492260933, 195.49999594688416, 0.699999988079071);
	width:360px;
	height:375px;
	position:absolute;
	left:0px;
	top:75px;
}.e40_119 { 
	background-color:rgba(5.000000176951289, 117.24000334739685, 249.00000035762787, 1);
	width:360px;
	height:75px;
	position:absolute;
	left:0px;
	top:0px;
}.e40_120 { 
	width:316.79998779296875px;
	height:270px;
	position:absolute;
	left:18px;
	top:75px;
	background-image:url(images/aerotransportador.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e40_121 { 
	color:rgba(255, 255, 255, 1);
	width:313.20001220703125px;
	height:49.166664123535156px;
	position:absolute;
	left:18px;
	top:358px;
	font-family:Nunito;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}.e40_122 { 
	color:rgba(255, 255, 255, 1);
	width:413px;
	height:49px;
	position:absolute;
	left:7px;
	top:13px;
	font-family:Nunito;
	text-align:left;
	font-size:38px;
	letter-spacing:0;
}.e40_123 { 
	width:360px;
	height:450px;
	position:absolute;
	left:600px;
	top:615px;
}.e40_124 { 
	background-color:rgba(5.000000176951289, 29.400000907480717, 249.00000035762787, 1);
	width:360px;
	height:75.83333587646484px;
	position:absolute;
	left:0px;
	top:345px;
}.e40_125 { 
	background-color:rgba(61.90833382308483, 123.36052492260933, 195.49999594688416, 0.699999988079071);
	width:360px;
	height:375px;
	position:absolute;
	left:0px;
	top:75px;
}.e40_126 { 
	background-color:rgba(5.000000176951289, 117.24000334739685, 249.00000035762787, 1);
	width:360px;
	height:75px;
	position:absolute;
	left:0px;
	top:0px;
}.e40_127 { 
	width:199px;
	height:270px;
	position:absolute;
	left:80px;
	top:75px;
	background-image:url(images/hunter.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e40_128 { 
	color:rgba(255, 255, 255, 1);
	width:313.20001220703125px;
	height:49.166664123535156px;
	position:absolute;
	left:42.29998779296875px;
	top:358.3333435058594px;
	font-family:Nunito;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}.e40_129 { 
	color:rgba(255, 255, 255, 1);
	width:185px;
	height:50px;
	position:absolute;
	left:94px;
	top:13px;
	font-family:Nunito;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}.e40_130 { 
	width:365px;
	height:450px;
	position:absolute;
	left:1100px;
	top:615px;
}.e40_131 { 
	background-color:rgba(5.000000176951289, 29.400000907480717, 249.00000035762787, 1);
	width:360px;
	height:75.83333587646484px;
	position:absolute;
	left:0px;
	top:345px;
}.e40_132 { 
	background-color:rgba(61.90833382308483, 123.36052492260933, 195.49999594688416, 0.699999988079071);
	width:360px;
	height:375px;
	position:absolute;
	left:0px;
	top:75px;
}.e40_133 { 
	background-color:rgba(5.000000176951289, 117.24000334739685, 249.00000035762787, 1);
	width:360px;
	height:75px;
	position:absolute;
	left:0px;
	top:0px;
}.e40_134 { 
	width:327px;
	height:270px;
	position:absolute;
	left:18px;
	top:75px;
	background-image:url(images/shield_scanner.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e40_135 { 
	color:rgba(255, 255, 255, 1);
	width:313.20001220703125px;
	height:49.166664123535156px;
	position:absolute;
	left:32px;
	top:358px;
	font-family:Nunito;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}.e40_136 { 
	color:rgba(255, 255, 255, 1);
	width:332px;
	height:50px;
	position:absolute;
	left:33px;
	top:7px;
	font-family:Nunito;
	text-align:left;
	font-size:43px;
	letter-spacing:0;
}.e40_137 { 
	width:360px;
	height:450px;
	position:absolute;
	left:600px;
	top:126.00007629394531px;
}.e40_138 { 
	background-color:rgba(5.000000176951289, 29.400000907480717, 249.00000035762787, 1);
	width:360px;
	height:75.83333587646484px;
	position:absolute;
	left:0px;
	top:345px;
}.e40_139 { 
	background-color:rgba(61.90833382308483, 123.36052492260933, 195.49999594688416, 0.699999988079071);
	width:360px;
	height:375px;
	position:absolute;
	left:0px;
	top:75px;
}.e40_140 { 
	background-color:rgba(5.000000176951289, 117.24000334739685, 249.00000035762787, 1);
	width:360px;
	height:75px;
	position:absolute;
	left:0px;
	top:0px;
}.e40_141 { 
	width:317px;
	height:231px;
	position:absolute;
	left:18px;
	top:88px;
	background-image:url(images/strider.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e40_142 { 
	color:rgba(255, 255, 255, 1);
	width:313.20001220703125px;
	height:49.16666793823242px;
	position:absolute;
	left:30px;
	top:357px;
	font-family:Nunito;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}.e40_143 { 
	color:rgba(255, 255, 255, 1);
	width:172px;
	height:49px;
	position:absolute;
	left:94px;
	top:13px;
	font-family:Nunito;
	text-align:left;
	font-size:44px;
	letter-spacing:0;
}.e40_144 { 
	width:360px;
	height:450px;
	position:absolute;
	left:1100px;
	top:126.00007629394531px;
}.e40_145 { 
	background-color:rgba(5.000000176951289, 29.400000907480717, 249.00000035762787, 1);
	width:360px;
	height:75.83333587646484px;
	position:absolute;
	left:0px;
	top:345px;
}.e40_146 { 
	background-color:rgba(61.90833382308483, 123.36052492260933, 195.49999594688416, 0.699999988079071);
	width:360px;
	height:375px;
	position:absolute;
	left:0px;
	top:75px;
}.e40_147 { 
	background-color:rgba(5.000000176951289, 117.24000334739685, 249.00000035762787, 1);
	width:360px;
	height:75px;
	position:absolute;
	left:0px;
	top:0px;
}.e40_148 { 
	width:317px;
	height:270px;
	position:absolute;
	left:18px;
	top:74.99992370605469px;
	background-image:url(images/combine_gunship.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e40_149 { 
	color:rgba(255, 255, 255, 1);
	width:313.20001220703125px;
	height:49.16666793823242px;
	position:absolute;
	left:32px;
	top:358px;
	font-family:Nunito;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}.e40_150 { 
	color:rgba(255, 255, 255, 1);
	width:337px;
	height:49px;
	position:absolute;
	left:23px;
	top:13px;
	font-family:Nunito;
	text-align:left;
	font-size:38px;
	letter-spacing:0;
}.e40_240 { 
	width:346px;
	height:143px;
	position:absolute;
	left:1548px;
	top:668px;
}.e40_241 { 
	background-color:rgba(45.00000111758709, 88.00000235438347, 138.00000697374344, 0.699999988079071);
	width:323px;
	height:143px;
	position:absolute;
	left:0px;
	top:0px;
}.40_241 { 
	border:7px solid rgba(5.000000176951289, 117.24000334739685, 249.00000035762787, 1);
}.e40_242 { 
	color:rgba(255, 255, 255, 1);
	width:260px;
	height:81px;
	position:absolute;
	left:15px;
	top:31px;
	font-family:Nunito;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}.e40_243 { 
	width:143px;
	height:143px;
	position:absolute;
	left:203px;
	top:0px;
	background-image:url(images/icono_siguiente.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e40_244 { 
	width:370px;
	height:143px;
	position:absolute;
	left:1524px;
	top:851px;
}.e40_245 { 
	background-color:rgba(43.00000123679638, 86.00000247359276, 137.00000703334808, 0.699999988079071);
	width:323px;
	height:143px;
	position:absolute;
	left:24px;
	top:0px;
}.40_245 { 
	border:7px solid rgba(5.000000176951289, 117.24000334739685, 249.00000035762787, 1);
}.e40_247 { 
	width:143px;
	height:143px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/icono_categorias.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e47_403 { 
	color:rgba(255, 255, 255, 1);
	width:260px;
	height:81px;
	position:absolute;
	left:110px;
	top:33px;
	font-family:Nunito;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}.e40_248 { 
	width:323px;
	height:143px;
	position:absolute;
	left:1548px;
	top:471px;
}.e40_249 { 
	background-color:rgba(36.00000165402889, 66.00000366568565, 100.00000163912773, 0.699999988079071);
	width:323px;
	height:143px;
	position:absolute;
	left:0px;
	top:0px;
}.40_249 { 
	border:7px solid rgba(5.000000176951289, 117.24000334739685, 249.00000035762787, 1);
}.e40_250 { 
	color:rgba(255, 255, 255, 1);
	width:144px;
	height:64px;
	position:absolute;
	left:152px;
	top:37px;
	font-family:Nunito;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e40_251 { 
	width:143px;
	height:143px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/rectangle_14.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e40_107 { 
	width:1834px;
	height:58px;
	position:absolute;
	left:59px;
	top:21px;
}.e40_108 { 
	color:rgba(255, 255, 255, 1);
	width:1834px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Nunito;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e40_264 { 
	background-color:rgba(49.00000087916851, 91.00000217556953, 140.00000685453415, 0.699999988079071);
	width:1920px;
	height:95px;
	position:absolute;
	left:0px;
	top:0px;
}