.47_410 { 
	overflow:hidden;
}.e47_410 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}.e47_411 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}.e47_412 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/rectangle_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e47_413 { 
	width:690.2597045898438px;
	height:631.0001220703125px;
	position:absolute;
	left:561px;
	top:137px;
}.e47_414 { 
	background-color:rgba(122.00000032782555, 1.0000000591389835, 179.000004529953, 1);
	width:690.2597045898438px;
	height:106.3351821899414px;
	position:absolute;
	left:0px;
	top:483.766845703125px;
}.e47_415 { 
	background-color:rgba(122.00000032782555, 2.000000118277967, 180.00000447034836, 0.699999988079071);
	width:690.2597045898438px;
	height:525.8333129882812px;
	position:absolute;
	left:0px;
	top:105.16683959960938px;
}.e47_416 { 
	width:379px;
	height:379px;
	position:absolute;
	left:148px;
	top:100px;
	background-image:url(images/gman.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e47_417 { 
	color:rgba(255, 255, 255, 1);
	width:346.0621337890625px;
	height:68.70889282226562px;
	position:absolute;
	left:181px;
	top:503px;
	font-family:Nunito;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}.e47_418 { 
	background-color:rgba(121.00000038743019, 1.0000000591389835, 180.00000447034836, 1);
	width:690.2597045898438px;
	height:105.16667175292969px;
	position:absolute;
	left:0px;
	top:0px;
}.e47_419 { 
	color:rgba(255, 255, 255, 1);
	width:143px;
	height:69px;
	position:absolute;
	left:266px;
	top:18px;
	font-family:Nunito;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}.e47_424 { 
	width:356px;
	height:143px;
	position:absolute;
	left:1517px;
	top:872px;
}.e47_425 { 
	background-color:rgba(121.00000038743019, 0, 178.00000458955765, 0.699999988079071);
	width:323px;
	height:143px;
	position:absolute;
	left:24px;
	top:0px;
}.47_425 { 
	border:7px solid rgba(121.00000038743019, 0, 178.00000458955765, 1);
}.e47_426 { 
	color:rgba(255, 255, 255, 1);
	width:260px;
	height:81px;
	position:absolute;
	left:96px;
	top:39px;
	font-family:Nunito;
	text-align:left;
	font-size:47px;
	letter-spacing:0;
}.e47_427 { 
	width:143px;
	height:143px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/icono_categorias.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e47_428 { 
	width:323px;
	height:143px;
	position:absolute;
	left:1543px;
	top:690px;
}.e47_429 { 
	background-color:rgba(126.00000008940697, 4.000000236555934, 181.0000044107437, 0.699999988079071);
	width:323px;
	height:143px;
	position:absolute;
	left:0px;
	top:0px;
}.47_429 { 
	border:7px solid rgba(122.00000032782555, 1.0000000591389835, 178.00000458955765, 1);
}.e47_430 { 
	color:rgba(255, 255, 255, 1);
	width:144px;
	height:64px;
	position:absolute;
	left:152px;
	top:37px;
	font-family:Nunito;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e47_431 { 
	width:143px;
	height:143px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/rectangle_14.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e47_433 { 
	width:1834px;
	height:58px;
	position:absolute;
	left:59px;
	top:21px;
}.e47_434 { 
	color:rgba(255, 255, 255, 1);
	width:1834px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Nunito;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e47_432 { 
	background-color:rgba(173.40000182390213, 0, 255, 0.699999988079071);
	width:1920px;
	height:95px;
	position:absolute;
	left:-9px;
	top:0px;
}