.55_166 { 
	overflow:hidden;
}.e55_166 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}.e55_167 { 
	width:1924px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}.e55_168 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/rectangle_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e55_169 { 
	background-color:rgba(253.93750101327896, 137.12626665830612, 0, 0.699999988079071);
	width:1920px;
	height:95px;
	position:absolute;
	left:0px;
	top:0px;
}.e55_170 { 
	width:1834px;
	height:58px;
	position:absolute;
	left:90px;
	top:18px;
}.e55_171 { 
	color:rgba(255, 255, 255, 1);
	width:1834px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Nunito;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}.e55_172 { 
	width:1018.776611328125px;
	height:159px;
	position:absolute;
	left:90px;
	top:333px;
}.e55_173 { 
	background-color:rgba(253.93750101327896, 137.12626665830612, 0, 0.699999988079071);
	width:1018.776611328125px;
	height:143px;
	position:absolute;
	left:0px;
	top:0px;
}.55_173 { 
	border:7px solid rgba(232.00000137090683, 132.0000073313713, 13.000000175088644, 1);
}.e55_174 { 
	color:rgba(255, 255, 255, 1);
	width:811px;
	height:121px;
	position:absolute;
	left:103px;
	top:38px;
	font-family:Nunito;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}.e55_175 { 
	width:218px;
	height:110px;
	position:absolute;
	left:769px;
	top:14px;
	background-image:url(images/logo_resistencia.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e55_176 { 
	width:1018.776611328125px;
	height:143px;
	position:absolute;
	left:90px;
	top:533px;
}.e55_177 { 
	background-color:rgba(253.93750101327896, 137.12626665830612, 0, 0.699999988079071);
	width:1018.776611328125px;
	height:143px;
	position:absolute;
	left:0px;
	top:0px;
}.55_177 { 
	border:7px solid rgba(232.00000137090683, 132.0000073313713, 13.000000175088644, 1);
}.e55_178 { 
	color:rgba(255, 255, 255, 1);
	width:598px;
	height:67px;
	position:absolute;
	left:103px;
	top:42px;
	font-family:Nunito;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}.e55_179 { 
	width:133px;
	height:128px;
	position:absolute;
	left:813px;
	top:11px;
	border-top-left-radius:160px;
	border-top-right-radius:160px;
	border-bottom-left-radius:160px;
	border-bottom-right-radius:160px;
	background-image:url(images/logo_combine.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e55_180 { 
	width:1018.776611328125px;
	height:143px;
	position:absolute;
	left:90px;
	top:733px;
}.e55_181 { 
	background-color:rgba(253.93750101327896, 137.12626665830612, 0, 0.699999988079071);
	width:1018.776611328125px;
	height:143px;
	position:absolute;
	left:0px;
	top:0px;
}.55_181 { 
	border:7px solid rgba(232.00000137090683, 132.0000073313713, 13.000000175088644, 1);
}.e55_182 { 
	color:rgba(255, 255, 255, 1);
	width:496px;
	height:58px;
	position:absolute;
	left:120px;
	top:41px;
	font-family:Nunito;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}.e55_183 { 
	width:184px;
	height:121px;
	position:absolute;
	left:780px;
	top:11px;
	background-image:url(images/logo_xen.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e55_188 { 
	width:435px;
	height:173px;
	position:absolute;
	left:1437px;
	top:737px;
}.e55_189 { 
	background-color:rgba(253.93750101327896, 137.12626665830612, 0, 0.699999988079071);
	width:435px;
	height:173px;
	position:absolute;
	left:0px;
	top:0px;
}.55_189 { 
	border:7px solid rgba(231.62500709295273, 132.39527732133865, 12.546353917568922, 1);
}.e55_190 { 
	color:rgba(255, 255, 255, 1);
	width:193.931884765625px;
	height:77.42657470703125px;
	position:absolute;
	left:204.7058868408203px;
	top:44.762237548828125px;
	font-family:Nunito;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e55_191 { 
	width:192.58514404296875px;
	height:173px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/rectangle_14.png);
	background-repeat:no-repeat;
	background-size:cover;
}