.40_22 { 
	overflow:hidden;
}.e40_22 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}.e40_23 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}.e40_24 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/rectangle_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e40_25 { 
	background-color:rgba(49.00000087916851, 91.00000217556953, 140.00000685453415, 0.699999988079071);
	width:1920px;
	height:95px;
	position:absolute;
	left:0px;
	top:0px;
}.e40_26 { 
	width:1834px;
	height:58px;
	position:absolute;
	left:59px;
	top:21px;
}.e40_27 { 
	color:rgba(255, 255, 255, 1);
	width:1834px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Nunito;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e40_28 { 
	width:360px;
	height:450px;
	position:absolute;
	left:100px;
	top:126px;
}.e40_29 { 
	background-color:rgba(5.000000176951289, 29.400000907480717, 249.00000035762787, 1);
	width:360px;
	height:75.83333587646484px;
	position:absolute;
	left:1.1368683772161603e-13px;
	top:345px;
}.e40_30 { 
	background-color:rgba(61.90833382308483, 123.36052492260933, 195.49999594688416, 0.699999988079071);
	width:360px;
	height:375px;
	position:absolute;
	left:1.1368683772161603e-13px;
	top:75px;
}.e40_31 { 
	width:316.79998779296875px;
	height:270px;
	position:absolute;
	left:18px;
	top:75px;
	background-image:url(images/wallace_breen.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e40_32 { 
	color:rgba(255, 255, 255, 1);
	width:313.20001220703125px;
	height:49.16666793823242px;
	position:absolute;
	left:19px;
	top:358px;
	font-family:Nunito;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}.e40_33 { 
	background-color:rgba(5.000000176951289, 117.24000334739685, 249.00000035762787, 1);
	width:360px;
	height:75px;
	position:absolute;
	left:0px;
	top:0px;
}.e40_34 { 
	color:rgba(255, 255, 255, 1);
	width:313.20001220703125px;
	height:49.16666793823242px;
	position:absolute;
	left:42px;
	top:13px;
	font-family:Nunito;
	text-align:left;
	font-size:38px;
	letter-spacing:0;
}.e40_35 { 
	width:360px;
	height:450px;
	position:absolute;
	left:100px;
	top:615px;
}.e40_94 { 
	background-color:rgba(5.000000176951289, 29.400000907480717, 249.00000035762787, 1);
	width:360px;
	height:75.83333587646484px;
	position:absolute;
	left:0px;
	top:345px;
}.e40_95 { 
	background-color:rgba(61.90833382308483, 123.36052492260933, 195.49999594688416, 0.699999988079071);
	width:360px;
	height:375px;
	position:absolute;
	left:0px;
	top:75px;
}.e40_96 { 
	background-color:rgba(5.000000176951289, 117.24000334739685, 249.00000035762787, 1);
	width:360px;
	height:75px;
	position:absolute;
	left:0px;
	top:0px;
}.e40_38 { 
	width:316.79998779296875px;
	height:270px;
	position:absolute;
	left:18px;
	top:75px;
	background-image:url(images/elite.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e40_39 { 
	color:rgba(255, 255, 255, 1);
	width:313.20001220703125px;
	height:49.166664123535156px;
	position:absolute;
	left:23px;
	top:358px;
	font-family:Nunito;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}.e40_41 { 
	color:rgba(255, 255, 255, 1);
	width:313.20001220703125px;
	height:49.166664123535156px;
	position:absolute;
	left:42px;
	top:13px;
	font-family:Nunito;
	text-align:left;
	font-size:43px;
	letter-spacing:0;
}.e40_42 { 
	width:360px;
	height:450px;
	position:absolute;
	left:600px;
	top:615px;
}.e40_97 { 
	background-color:rgba(5.000000176951289, 29.400000907480717, 249.00000035762787, 1);
	width:360px;
	height:75.83333587646484px;
	position:absolute;
	left:0px;
	top:345px;
}.e40_98 { 
	background-color:rgba(61.90833382308483, 123.36052492260933, 195.49999594688416, 0.699999988079071);
	width:360px;
	height:375px;
	position:absolute;
	left:0px;
	top:75px;
}.e40_99 { 
	background-color:rgba(5.000000176951289, 117.24000334739685, 249.00000035762787, 1);
	width:360px;
	height:75px;
	position:absolute;
	left:0px;
	top:0px;
}.e40_45 { 
	width:316.79998779296875px;
	height:270px;
	position:absolute;
	left:18px;
	top:74.99999237060547px;
	background-image:url(images/robosierra.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e40_46 { 
	color:rgba(255, 255, 255, 1);
	width:313.20001220703125px;
	height:49.166664123535156px;
	position:absolute;
	left:19px;
	top:358px;
	font-family:Nunito;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}.e40_48 { 
	color:rgba(255, 255, 255, 1);
	width:256px;
	height:50px;
	position:absolute;
	left:58px;
	top:13px;
	font-family:Nunito;
	text-align:left;
	font-size:43px;
	letter-spacing:0;
}.e40_49 { 
	width:360px;
	height:450px;
	position:absolute;
	left:1100px;
	top:615px;
}.e40_100 { 
	background-color:rgba(5.000000176951289, 29.400000907480717, 249.00000035762787, 1);
	width:360px;
	height:75.83333587646484px;
	position:absolute;
	left:0px;
	top:345px;
}.e40_101 { 
	background-color:rgba(61.90833382308483, 123.36052492260933, 195.49999594688416, 0.699999988079071);
	width:360px;
	height:375px;
	position:absolute;
	left:0px;
	top:75px;
}.e40_102 { 
	background-color:rgba(5.000000176951289, 117.24000334739685, 249.00000035762787, 1);
	width:360px;
	height:75px;
	position:absolute;
	left:0px;
	top:0px;
}.e40_52 { 
	width:316.79998779296875px;
	height:270px;
	position:absolute;
	left:18px;
	top:74.99999237060547px;
	background-image:url(images/stalker.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e40_53 { 
	color:rgba(255, 255, 255, 1);
	width:313.20001220703125px;
	height:49.166664123535156px;
	position:absolute;
	left:28px;
	top:358px;
	font-family:Nunito;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}.e40_55 { 
	color:rgba(255, 255, 255, 1);
	width:186px;
	height:50px;
	position:absolute;
	left:92px;
	top:7px;
	font-family:Nunito;
	text-align:left;
	font-size:43px;
	letter-spacing:0;
}.e40_56 { 
	width:360px;
	height:450px;
	position:absolute;
	left:600px;
	top:126.00007629394531px;
}.e40_85 { 
	background-color:rgba(5.000000176951289, 29.400000907480717, 249.00000035762787, 1);
	width:360px;
	height:75.83333587646484px;
	position:absolute;
	left:0px;
	top:345px;
}.e40_86 { 
	background-color:rgba(61.90833382308483, 123.36052492260933, 195.49999594688416, 0.699999988079071);
	width:360px;
	height:375px;
	position:absolute;
	left:0px;
	top:75px;
}.e40_87 { 
	background-color:rgba(5.000000176951289, 117.24000334739685, 249.00000035762787, 1);
	width:360px;
	height:75px;
	position:absolute;
	left:0px;
	top:0px;
}.e40_59 { 
	width:316.79998779296875px;
	height:270px;
	position:absolute;
	left:18px;
	top:74.99992370605469px;
	background-image:url(images/metrocop.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e40_60 { 
	color:rgba(255, 255, 255, 1);
	width:313.20001220703125px;
	height:49.16666793823242px;
	position:absolute;
	left:19px;
	top:354px;
	font-family:Nunito;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}.e40_62 { 
	color:rgba(255, 255, 255, 1);
	width:229.5px;
	height:49.16666793823242px;
	position:absolute;
	left:84px;
	top:13px;
	font-family:Nunito;
	text-align:left;
	font-size:38px;
	letter-spacing:0;
}.e40_63 { 
	width:380px;
	height:450px;
	position:absolute;
	left:1100px;
	top:126.00007629394531px;
}.e40_91 { 
	background-color:rgba(5.000000176951289, 29.400000907480717, 249.00000035762787, 1);
	width:360px;
	height:75.83333587646484px;
	position:absolute;
	left:0px;
	top:345px;
}.e40_92 { 
	background-color:rgba(61.90833382308483, 123.36052492260933, 195.49999594688416, 0.699999988079071);
	width:360px;
	height:375px;
	position:absolute;
	left:0px;
	top:75px;
}.e40_93 { 
	background-color:rgba(5.000000176951289, 117.24000334739685, 249.00000035762787, 1);
	width:360px;
	height:75px;
	position:absolute;
	left:0px;
	top:0px;
}.e40_66 { 
	width:317px;
	height:270px;
	position:absolute;
	left:18px;
	top:74.99992370605469px;
	background-image:url(images/combine_soldier.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e40_67 { 
	color:rgba(255, 255, 255, 1);
	width:313.20001220703125px;
	height:49.16666793823242px;
	position:absolute;
	left:23px;
	top:358px;
	font-family:Nunito;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}.e40_69 { 
	color:rgba(255, 255, 255, 1);
	width:357px;
	height:49px;
	position:absolute;
	left:23px;
	top:13px;
	font-family:Nunito;
	text-align:left;
	font-size:38px;
	letter-spacing:0;
}.e40_70 { 
	width:346px;
	height:143px;
	position:absolute;
	left:1547px;
	top:672px;
}.e40_71 { 
	background-color:rgba(45.00000111758709, 88.00000235438347, 138.00000697374344, 0.699999988079071);
	width:323px;
	height:143px;
	position:absolute;
	left:0px;
	top:0px;
}.40_71 { 
	border:7px solid rgba(5.000000176951289, 117.24000334739685, 249.00000035762787, 1);
}.e40_72 { 
	color:rgba(255, 255, 255, 1);
	width:260px;
	height:81px;
	position:absolute;
	left:15px;
	top:31px;
	font-family:Nunito;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}.e40_73 { 
	width:143px;
	height:143px;
	position:absolute;
	left:203px;
	top:0px;
	background-image:url(images/icono_siguiente.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e40_74 { 
	width:397px;
	height:143px;
	position:absolute;
	left:1523px;
	top:855px;
}.e40_75 { 
	background-color:rgba(43.00000123679638, 86.00000247359276, 137.00000703334808, 0.699999988079071);
	width:323px;
	height:143px;
	position:absolute;
	left:24px;
	top:0px;
}.40_75 { 
	border:7px solid rgba(5.000000176951289, 117.24000334739685, 249.00000035762787, 1);
}.e40_76 { 
	color:rgba(255, 255, 255, 1);
	width:287px;
	height:81px;
	position:absolute;
	left:110px;
	top:37px;
	font-family:Nunito;
	text-align:left;
	font-size:44.5px;
	letter-spacing:0;
}.e40_77 { 
	width:143px;
	height:143px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/icono_categorias.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e40_78 { 
	width:323px;
	height:143px;
	position:absolute;
	left:1547px;
	top:475px;
}.e40_79 { 
	background-color:rgba(36.00000165402889, 66.00000366568565, 100.00000163912773, 0.699999988079071);
	width:323px;
	height:143px;
	position:absolute;
	left:0px;
	top:0px;
}.40_79 { 
	border:7px solid rgba(5.000000176951289, 117.24000334739685, 249.00000035762787, 1);
}.e40_80 { 
	color:rgba(255, 255, 255, 1);
	width:144px;
	height:64px;
	position:absolute;
	left:152px;
	top:37px;
	font-family:Nunito;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e40_81 { 
	width:143px;
	height:143px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/rectangle_14.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e40_83 { 
	color:rgba(255, 255, 255, 1);
	width:426px;
	height:289px;
	position:absolute;
	left:1489px;
	top:140px;
	font-family:Nunito;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}