.40_266 { 
	overflow:hidden;
}.e40_266 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}.e40_267 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}.e40_268 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/rectangle_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e40_269 { 
	background-color:rgba(37.00000159442425, 170.0000050663948, 27.000000290572643, 0.699999988079071);
	width:1920px;
	height:95px;
	position:absolute;
	left:0px;
	top:0px;
}.e40_271 { 
	color:rgba(255, 255, 255, 1);
	width:1834px;
	height:58px;
	position:absolute;
	left:59px;
	top:21px;
	font-family:Nunito;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e40_272 { 
	width:360px;
	height:450px;
	position:absolute;
	left:100px;
	top:126px;
}.e40_273 { 
	background-color:rgba(17.478129230439663, 249.6875050663948, 0, 1);
	width:360px;
	height:75.83333587646484px;
	position:absolute;
	left:1.1368683772161603e-13px;
	top:345px;
}.e40_274 { 
	background-color:rgba(27.000000290572643, 121.00000038743019, 21.000000648200512, 0.699999988079071);
	width:360px;
	height:375px;
	position:absolute;
	left:1.1368683772161603e-13px;
	top:75px;
}.e40_277 { 
	background-color:rgba(26.000000350177288, 119.00000050663948, 19.0000007674098, 1);
	width:360px;
	height:75px;
	position:absolute;
	left:0px;
	top:0px;
}.e40_275 { 
	width:258px;
	height:270px;
	position:absolute;
	left:51px;
	top:75px;
	background-image:url(images/headcrab.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e40_276 { 
	color:rgba(255, 255, 255, 1);
	width:313.20001220703125px;
	height:49.16666793823242px;
	position:absolute;
	left:23px;
	top:358px;
	font-family:Nunito;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}.e40_278 { 
	color:rgba(255, 255, 255, 1);
	width:201px;
	height:49px;
	position:absolute;
	left:75px;
	top:13px;
	font-family:Nunito;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e40_279 { 
	width:360px;
	height:450px;
	position:absolute;
	left:100.00018310546875px;
	top:615px;
}.e44_333 { 
	background-color:rgba(17.478129230439663, 249.6875050663948, 0, 1);
	width:360px;
	height:75.83333587646484px;
	position:absolute;
	left:0px;
	top:345px;
}.e44_334 { 
	background-color:rgba(27.000000290572643, 121.00000038743019, 21.000000648200512, 0.699999988079071);
	width:360px;
	height:375px;
	position:absolute;
	left:0px;
	top:75px;
}.e44_335 { 
	background-color:rgba(26.000000350177288, 119.00000050663948, 19.0000007674098, 1);
	width:360px;
	height:75px;
	position:absolute;
	left:0px;
	top:0px;
}.e40_283 { 
	width:258px;
	height:270px;
	position:absolute;
	left:50.99981689453125px;
	top:75px;
	background-image:url(images/zombi.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e40_284 { 
	color:rgba(255, 255, 255, 1);
	width:313.20001220703125px;
	height:49.166664123535156px;
	position:absolute;
	left:23px;
	top:358px;
	font-family:Nunito;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}.e40_285 { 
	color:rgba(255, 255, 255, 1);
	width:159px;
	height:49px;
	position:absolute;
	left:99.99981689453125px;
	top:8px;
	font-family:Nunito;
	text-align:left;
	font-size:46px;
	letter-spacing:0;
}.e40_286 { 
	width:360px;
	height:450px;
	position:absolute;
	left:600px;
	top:615px;
}.e44_336 { 
	background-color:rgba(17.478129230439663, 249.6875050663948, 0, 1);
	width:360px;
	height:75.83333587646484px;
	position:absolute;
	left:0px;
	top:345px;
}.e44_337 { 
	background-color:rgba(27.000000290572643, 121.00000038743019, 21.000000648200512, 0.699999988079071);
	width:360px;
	height:375px;
	position:absolute;
	left:0px;
	top:75px;
}.e44_338 { 
	background-color:rgba(26.000000350177288, 119.00000050663948, 19.0000007674098, 1);
	width:360px;
	height:75px;
	position:absolute;
	left:0px;
	top:0px;
}.e40_290 { 
	width:180px;
	height:270px;
	position:absolute;
	left:86px;
	top:75px;
	background-image:url(images/zombi_r_pido.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e40_291 { 
	color:rgba(255, 255, 255, 1);
	width:313.20001220703125px;
	height:49.166664123535156px;
	position:absolute;
	left:23px;
	top:358px;
	font-family:Nunito;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}.e40_292 { 
	color:rgba(255, 255, 255, 1);
	width:317px;
	height:50px;
	position:absolute;
	left:34px;
	top:13px;
	font-family:Nunito;
	text-align:left;
	font-size:43px;
	letter-spacing:0;
}.e40_293 { 
	width:389px;
	height:450px;
	position:absolute;
	left:1096px;
	top:615px;
}.e44_339 { 
	background-color:rgba(17.478129230439663, 249.6875050663948, 0, 1);
	width:360px;
	height:75.83333587646484px;
	position:absolute;
	left:0px;
	top:345px;
}.e44_340 { 
	background-color:rgba(27.000000290572643, 121.00000038743019, 21.000000648200512, 0.699999988079071);
	width:360px;
	height:375px;
	position:absolute;
	left:0px;
	top:75px;
}.e44_341 { 
	background-color:rgba(26.000000350177288, 119.00000050663948, 19.0000007674098, 1);
	width:360px;
	height:75px;
	position:absolute;
	left:0px;
	top:0px;
}.e40_297 { 
	width:200px;
	height:270px;
	position:absolute;
	left:81px;
	top:75px;
	background-image:url(images/zombi_venenoso.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e40_298 { 
	color:rgba(255, 255, 255, 1);
	width:313.20001220703125px;
	height:49.166664123535156px;
	position:absolute;
	left:24px;
	top:359px;
	font-family:Nunito;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}.e40_299 { 
	color:rgba(255, 255, 255, 1);
	width:370px;
	height:50px;
	position:absolute;
	left:19px;
	top:7px;
	font-family:Nunito;
	text-align:left;
	font-size:41px;
	letter-spacing:0;
}.e40_300 { 
	width:360px;
	height:450px;
	position:absolute;
	left:600px;
	top:126.00007629394531px;
}.e44_327 { 
	background-color:rgba(17.478129230439663, 249.6875050663948, 0, 1);
	width:360px;
	height:75.83333587646484px;
	position:absolute;
	left:0px;
	top:345px;
}.e44_328 { 
	background-color:rgba(27.000000290572643, 121.00000038743019, 21.000000648200512, 0.699999988079071);
	width:360px;
	height:375px;
	position:absolute;
	left:0px;
	top:75px;
}.e44_329 { 
	background-color:rgba(26.000000350177288, 119.00000050663948, 19.0000007674098, 1);
	width:360px;
	height:75px;
	position:absolute;
	left:0px;
	top:0px;
}.e40_304 { 
	width:316.79998779296875px;
	height:270px;
	position:absolute;
	left:18px;
	top:74.99992370605469px;
	background-image:url(images/headcrab_r_pido.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e40_305 { 
	color:rgba(255, 255, 255, 1);
	width:313.20001220703125px;
	height:49.16666793823242px;
	position:absolute;
	left:19px;
	top:354px;
	font-family:Nunito;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}.e40_306 { 
	color:rgba(255, 255, 255, 1);
	width:325px;
	height:49px;
	position:absolute;
	left:30px;
	top:13px;
	font-family:Nunito;
	text-align:left;
	font-size:38px;
	letter-spacing:0;
}.e40_307 { 
	width:393px;
	height:450px;
	position:absolute;
	left:1096px;
	top:126.00007629394531px;
}.e44_330 { 
	background-color:rgba(17.478129230439663, 249.6875050663948, 0, 1);
	width:360px;
	height:75.83333587646484px;
	position:absolute;
	left:0px;
	top:345px;
}.e44_331 { 
	background-color:rgba(27.000000290572643, 121.00000038743019, 21.000000648200512, 0.699999988079071);
	width:360px;
	height:375px;
	position:absolute;
	left:0px;
	top:75px;
}.e44_332 { 
	background-color:rgba(26.000000350177288, 119.00000050663948, 19.0000007674098, 1);
	width:360px;
	height:75px;
	position:absolute;
	left:0px;
	top:0px;
}.e40_311 { 
	width:317px;
	height:270px;
	position:absolute;
	left:22px;
	top:74.99992370605469px;
	background-image:url(images/headcrab_venenoso.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e40_312 { 
	color:rgba(255, 255, 255, 1);
	width:313.20001220703125px;
	height:49.16666793823242px;
	position:absolute;
	left:26px;
	top:358px;
	font-family:Nunito;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}.e40_313 { 
	color:rgba(255, 255, 255, 1);
	width:378px;
	height:49px;
	position:absolute;
	left:15px;
	top:13px;
	font-family:Nunito;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}.e40_314 { 
	width:346px;
	height:143px;
	position:absolute;
	left:1547px;
	top:672px;
}.e40_315 { 
	background-color:rgba(39.00000147521496, 170.0000050663948, 26.000000350177288, 0.699999988079071);
	width:323px;
	height:143px;
	position:absolute;
	left:0px;
	top:0px;
}.40_315 { 
	border:7px solid rgba(14.468086548149586, 255, 0, 1);
}.e40_316 { 
	color:rgba(255, 255, 255, 1);
	width:260px;
	height:81px;
	position:absolute;
	left:15px;
	top:31px;
	font-family:Nunito;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}.e40_317 { 
	width:143px;
	height:143px;
	position:absolute;
	left:203px;
	top:0px;
	background-image:url(images/icono_siguiente.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e40_318 { 
	width:397px;
	height:143px;
	position:absolute;
	left:1523px;
	top:855px;
}.e40_319 { 
	background-color:rgba(38.0000015348196, 169.00000512599945, 26.000000350177288, 0.699999988079071);
	width:323px;
	height:143px;
	position:absolute;
	left:24px;
	top:0px;
}.40_319 { 
	border:7px solid rgba(21.398603059351444, 255, 0, 1);
}.e40_320 { 
	color:rgba(255, 255, 255, 1);
	width:287px;
	height:81px;
	position:absolute;
	left:110px;
	top:37px;
	font-family:Nunito;
	text-align:left;
	font-size:44.5px;
	letter-spacing:0;
}.e40_321 { 
	width:143px;
	height:143px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/icono_categorias.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e40_322 { 
	width:323px;
	height:143px;
	position:absolute;
	left:1547px;
	top:475px;
}.e40_323 { 
	background-color:rgba(52.347252666950226, 240.12499898672104, 36.018749848008156, 0.699999988079071);
	width:323px;
	height:143px;
	position:absolute;
	left:0px;
	top:0px;
}.40_323 { 
	border:7px solid rgba(24.490250162780285, 255, 10.625000316649675, 1);
}.e40_324 { 
	color:rgba(255, 255, 255, 1);
	width:144px;
	height:64px;
	position:absolute;
	left:152px;
	top:37px;
	font-family:Nunito;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e40_325 { 
	width:143px;
	height:143px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/rectangle_14.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e40_326 { 
	color:rgba(255, 255, 255, 1);
	width:426px;
	height:289px;
	position:absolute;
	left:1489px;
	top:118px;
	font-family:Nunito;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}