.17_124 { 
	overflow:hidden;
}.e17_124 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}.e17_125 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}.e17_126 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/rectangle_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e17_127 { 
	background-color:rgba(253.93750101327896, 137.12626665830612, 0, 0.699999988079071);
	width:1920px;
	height:95px;
	position:absolute;
	left:0px;
	top:0px;
}.e17_128 { 
	width:1834px;
	height:58px;
	position:absolute;
	left:59px;
	top:21px;
}.e17_129 { 
	color:rgba(255, 255, 255, 1);
	width:1834px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Nunito;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e17_130 { 
	width:360px;
	height:450px;
	position:absolute;
	left:100px;
	top:126px;
}.e17_131 { 
	background-color:rgba(249.00000035762787, 209.95999842882156, 5.000000176951289, 1);
	width:360px;
	height:75.83333587646484px;
	position:absolute;
	left:1.1368683772161603e-13px;
	top:345px;
}.e17_132 { 
	background-color:rgba(253.93750101327896, 137.12626665830612, 0, 0.699999988079071);
	width:360px;
	height:375px;
	position:absolute;
	left:1.1368683772161603e-13px;
	top:75px;
}.e17_133 { 
	width:316.79998779296875px;
	height:270px;
	position:absolute;
	left:18px;
	top:75px;
	background-image:url(images/gordon.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e17_134 { 
	color:rgba(255, 255, 255, 1);
	width:313.20001220703125px;
	height:49.16666793823242px;
	position:absolute;
	left:19px;
	top:358px;
	font-family:Nunito;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}.e17_135 { 
	background-color:rgba(249.00000035762787, 198.00000339746475, 5.000000176951289, 1);
	width:360px;
	height:75px;
	position:absolute;
	left:0px;
	top:0px;
}.e17_136 { 
	color:rgba(255, 255, 255, 1);
	width:313.20001220703125px;
	height:49.16666793823242px;
	position:absolute;
	left:23.4000244140625px;
	top:13.33333969116211px;
	font-family:Nunito;
	text-align:left;
	font-size:38px;
	letter-spacing:0;
}.e17_137 { 
	width:394.20001220703125px;
	height:450px;
	position:absolute;
	left:100px;
	top:615px;
}.e17_138 { 
	background-color:rgba(249.00000035762787, 198.00000339746475, 5.000000176951289, 1);
	width:360px;
	height:75.83332824707031px;
	position:absolute;
	left:0px;
	top:345px;
}.e17_139 { 
	background-color:rgba(253.93750101327896, 137.12626665830612, 0, 0.699999988079071);
	width:360px;
	height:375px;
	position:absolute;
	left:0px;
	top:74.99999237060547px;
}.e17_140 { 
	width:316.79998779296875px;
	height:270px;
	position:absolute;
	left:18px;
	top:74.99999237060547px;
	background-image:url(images/eli.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e17_141 { 
	color:rgba(255, 255, 255, 1);
	width:313.20001220703125px;
	height:49.166664123535156px;
	position:absolute;
	left:19px;
	top:358px;
	font-family:Nunito;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}.e17_142 { 
	background-color:rgba(249.00000035762787, 198.00000339746475, 5.000000176951289, 1);
	width:360px;
	height:75px;
	position:absolute;
	left:0px;
	top:0px;
}.e17_143 { 
	color:rgba(255, 255, 255, 1);
	width:313.20001220703125px;
	height:49.166664123535156px;
	position:absolute;
	left:81px;
	top:13px;
	font-family:Nunito;
	text-align:left;
	font-size:43px;
	letter-spacing:0;
}.e17_144 { 
	width:360px;
	height:450px;
	position:absolute;
	left:600px;
	top:615px;
}.e17_145 { 
	background-color:rgba(249.00000035762787, 198.00000339746475, 5.000000176951289, 1);
	width:360px;
	height:75.83332824707031px;
	position:absolute;
	left:0px;
	top:345px;
}.e17_146 { 
	background-color:rgba(253.93750101327896, 137.12626665830612, 0, 0.699999988079071);
	width:360px;
	height:375px;
	position:absolute;
	left:0px;
	top:74.99999237060547px;
}.e17_147 { 
	width:316.79998779296875px;
	height:270px;
	position:absolute;
	left:18px;
	top:74.99999237060547px;
	background-image:url(images/barney.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e17_148 { 
	color:rgba(255, 255, 255, 1);
	width:313.20001220703125px;
	height:49.166664123535156px;
	position:absolute;
	left:23px;
	top:362px;
	font-family:Nunito;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}.e17_149 { 
	background-color:rgba(249.00000035762787, 198.00000339746475, 5.000000176951289, 1);
	width:360px;
	height:75px;
	position:absolute;
	left:0px;
	top:0px;
}.e17_150 { 
	color:rgba(255, 255, 255, 1);
	width:337px;
	height:50px;
	position:absolute;
	left:18px;
	top:13px;
	font-family:Nunito;
	text-align:left;
	font-size:43px;
	letter-spacing:0;
}.e17_151 { 
	width:378px;
	height:450px;
	position:absolute;
	left:1100px;
	top:615px;
}.e17_152 { 
	background-color:rgba(249.00000035762787, 198.00000339746475, 5.000000176951289, 1);
	width:360px;
	height:75.83332824707031px;
	position:absolute;
	left:0px;
	top:345px;
}.e17_153 { 
	background-color:rgba(253.93750101327896, 137.12626665830612, 0, 0.699999988079071);
	width:360px;
	height:375px;
	position:absolute;
	left:0px;
	top:74.99999237060547px;
}.e17_154 { 
	width:316.79998779296875px;
	height:270px;
	position:absolute;
	left:18px;
	top:74.99999237060547px;
	background-image:url(images/judith.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e17_155 { 
	color:rgba(255, 255, 255, 1);
	width:313.20001220703125px;
	height:49.166664123535156px;
	position:absolute;
	left:23px;
	top:358px;
	font-family:Nunito;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}.e17_156 { 
	background-color:rgba(249.00000035762787, 198.00000339746475, 5.000000176951289, 1);
	width:360px;
	height:75px;
	position:absolute;
	left:0px;
	top:0px;
}.e17_157 { 
	color:rgba(255, 255, 255, 1);
	width:355px;
	height:50px;
	position:absolute;
	left:23px;
	top:13px;
	font-family:Nunito;
	text-align:left;
	font-size:43px;
	letter-spacing:0;
}.e17_158 { 
	width:360px;
	height:450px;
	position:absolute;
	left:600px;
	top:126px;
}.e17_159 { 
	background-color:rgba(249.00000035762787, 198.00000339746475, 5.000000176951289, 1);
	width:360px;
	height:75.83333587646484px;
	position:absolute;
	left:0px;
	top:345px;
}.e17_160 { 
	background-color:rgba(253.93750101327896, 137.12626665830612, 0, 0.699999988079071);
	width:360px;
	height:375px;
	position:absolute;
	left:0px;
	top:75px;
}.e17_161 { 
	width:316.79998779296875px;
	height:270px;
	position:absolute;
	left:18px;
	top:75px;
	background-image:url(images/alyx.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e17_162 { 
	color:rgba(255, 255, 255, 1);
	width:313.20001220703125px;
	height:49.16666793823242px;
	position:absolute;
	left:23px;
	top:358px;
	font-family:Nunito;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}.e17_163 { 
	background-color:rgba(249.00000035762787, 198.00000339746475, 5.000000176951289, 1);
	width:360px;
	height:75px;
	position:absolute;
	left:0px;
	top:0px;
}.e17_164 { 
	color:rgba(255, 255, 255, 1);
	width:229.5px;
	height:49.16666793823242px;
	position:absolute;
	left:84.60000610351562px;
	top:13.333333015441895px;
	font-family:Nunito;
	text-align:left;
	font-size:38px;
	letter-spacing:0;
}.e17_165 { 
	width:360px;
	height:450px;
	position:absolute;
	left:1100px;
	top:126px;
}.e17_166 { 
	background-color:rgba(249.00000035762787, 198.00000339746475, 5.000000176951289, 1);
	width:360px;
	height:75.83333587646484px;
	position:absolute;
	left:0px;
	top:345px;
}.e17_167 { 
	background-color:rgba(253.93750101327896, 137.12626665830612, 0, 0.699999988079071);
	width:360px;
	height:375px;
	position:absolute;
	left:0px;
	top:75px;
}.e17_168 { 
	width:317px;
	height:319px;
	position:absolute;
	left:18px;
	top:26px;
	background-image:url(images/isaac.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e17_169 { 
	color:rgba(255, 255, 255, 1);
	width:313.20001220703125px;
	height:49.16666793823242px;
	position:absolute;
	left:23px;
	top:358px;
	font-family:Nunito;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}.e17_170 { 
	background-color:rgba(249.00000035762787, 198.00000339746475, 5.000000176951289, 1);
	width:360px;
	height:75px;
	position:absolute;
	left:0px;
	top:0px;
}.e17_171 { 
	color:rgba(255, 255, 255, 1);
	width:289.79998779296875px;
	height:49.16666793823242px;
	position:absolute;
	left:65.69999694824219px;
	top:13.333333015441895px;
	font-family:Nunito;
	text-align:left;
	font-size:38px;
	letter-spacing:0;
}.e17_172 { 
	width:346px;
	height:143px;
	position:absolute;
	left:1547px;
	top:672px;
}.e17_173 { 
	background-color:rgba(253.93750101327896, 137.12626665830612, 0, 0.699999988079071);
	width:323px;
	height:143px;
	position:absolute;
	left:0px;
	top:0px;
}.17_173 { 
	border:7px solid rgba(232.00000137090683, 132.0000073313713, 13.000000175088644, 1);
}.e17_174 { 
	color:rgba(255, 255, 255, 1);
	width:260px;
	height:81px;
	position:absolute;
	left:15px;
	top:31px;
	font-family:Nunito;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}.e17_175 { 
	width:143px;
	height:143px;
	position:absolute;
	left:203px;
	top:0px;
	background-image:url(images/icono_siguiente.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e17_176 { 
	width:397px;
	height:143px;
	position:absolute;
	left:1523px;
	top:855px;
}.e17_177 { 
	background-color:rgba(253.93750101327896, 137.12626665830612, 0, 0.699999988079071);
	width:323px;
	height:143px;
	position:absolute;
	left:24px;
	top:0px;
}.17_177 { 
	border:7px solid rgba(232.00000137090683, 132.0000073313713, 13.000000175088644, 1);
}.e17_178 { 
	color:rgba(255, 255, 255, 1);
	width:287px;
	height:81px;
	position:absolute;
	left:110px;
	top:37px;
	font-family:Nunito;
	text-align:left;
	font-size:44.5px;
	letter-spacing:0;
}.e17_179 { 
	width:143px;
	height:143px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/icono_categorias.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e17_180 { 
	width:323px;
	height:143px;
	position:absolute;
	left:1547px;
	top:475px;
}.e17_181 { 
	background-color:rgba(253.93750101327896, 137.12626665830612, 0, 0.699999988079071);
	width:323px;
	height:143px;
	position:absolute;
	left:0px;
	top:0px;
}.17_181 { 
	border:7px solid rgba(231.62500709295273, 132.39527732133865, 12.546353917568922, 1);
}.e17_182 { 
	color:rgba(255, 255, 255, 1);
	width:144px;
	height:64px;
	position:absolute;
	left:152px;
	top:37px;
	font-family:Nunito;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e17_183 { 
	width:143px;
	height:143px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/rectangle_14.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e40_82 { 
	color:rgba(255, 255, 255, 1);
	width:426px;
	height:230px;
	position:absolute;
	left:1486px;
	top:197px;
	font-family:Nunito;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}