.25_6 { 
	overflow:hidden;
}.e25_6 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}.e25_7 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}.e25_8 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/rectangle_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e25_9 { 
	background-color:rgba(253.93750101327896, 137.12626665830612, 0, 0.699999988079071);
	width:1920px;
	height:95px;
	position:absolute;
	left:0px;
	top:0px;
}.e25_10 { 
	width:1834px;
	height:58px;
	position:absolute;
	left:59px;
	top:21px;
}.e25_11 { 
	color:rgba(255, 255, 255, 1);
	width:1834px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Nunito;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e25_12 { 
	width:360px;
	height:450px;
	position:absolute;
	left:115px;
	top:126px;
}.e25_13 { 
	background-color:rgba(249.00000035762787, 209.95999842882156, 5.000000176951289, 1);
	width:360px;
	height:75.83333587646484px;
	position:absolute;
	left:1.1368683772161603e-13px;
	top:345px;
}.e25_14 { 
	background-color:rgba(253.93750101327896, 137.12626665830612, 0, 0.699999988079071);
	width:360px;
	height:375px;
	position:absolute;
	left:1.1368683772161603e-13px;
	top:75px;
}.e25_15 { 
	width:316.79998779296875px;
	height:270px;
	position:absolute;
	left:18px;
	top:75px;
	background-image:url(images/arne.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e25_16 { 
	color:rgba(255, 255, 255, 1);
	width:313.20001220703125px;
	height:49.16666793823242px;
	position:absolute;
	left:23px;
	top:358px;
	font-family:Nunito;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}.e25_17 { 
	background-color:rgba(249.00000035762787, 198.00000339746475, 5.000000176951289, 1);
	width:360px;
	height:75px;
	position:absolute;
	left:0px;
	top:0px;
}.e25_18 { 
	color:rgba(255, 255, 255, 1);
	width:313.20001220703125px;
	height:49.16666793823242px;
	position:absolute;
	left:23.4000244140625px;
	top:13.33333969116211px;
	font-family:Nunito;
	text-align:left;
	font-size:38px;
	letter-spacing:0;
}.e47_442 { 
	width:360px;
	height:450px;
	position:absolute;
	left:616px;
	top:603px;
}.e47_443 { 
	background-color:rgba(249.00000035762787, 209.95999842882156, 5.000000176951289, 1);
	width:360px;
	height:75.83333587646484px;
	position:absolute;
	left:1.1368683772161603e-13px;
	top:345px;
}.e47_444 { 
	background-color:rgba(253.93750101327896, 137.12626665830612, 0, 0.699999988079071);
	width:360px;
	height:375px;
	position:absolute;
	left:1.1368683772161603e-13px;
	top:75px;
}.e47_445 { 
	width:258px;
	height:270px;
	position:absolute;
	left:41px;
	top:75px;
	background-image:url(images/vortigaunt.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e47_446 { 
	color:rgba(255, 255, 255, 1);
	width:313.20001220703125px;
	height:49.16666793823242px;
	position:absolute;
	left:31px;
	top:358px;
	font-family:Nunito;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}.e47_447 { 
	background-color:rgba(249.00000035762787, 198.00000339746475, 5.000000176951289, 1);
	width:360px;
	height:75px;
	position:absolute;
	left:0px;
	top:0px;
}.e47_448 { 
	color:rgba(255, 255, 255, 1);
	width:241px;
	height:50px;
	position:absolute;
	left:54px;
	top:13px;
	font-family:Nunito;
	text-align:left;
	font-size:42px;
	letter-spacing:0;
}.e25_40 { 
	width:360px;
	height:450px;
	position:absolute;
	left:615px;
	top:126px;
}.e25_41 { 
	background-color:rgba(249.00000035762787, 198.00000339746475, 5.000000176951289, 1);
	width:360px;
	height:75.83333587646484px;
	position:absolute;
	left:0px;
	top:345px;
}.e25_42 { 
	background-color:rgba(253.93750101327896, 137.12626665830612, 0, 0.699999988079071);
	width:360px;
	height:375px;
	position:absolute;
	left:0px;
	top:75px;
}.e25_43 { 
	width:316.79998779296875px;
	height:270px;
	position:absolute;
	left:18px;
	top:75px;
	background-image:url(images/dog_imagen.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e25_44 { 
	color:rgba(255, 255, 255, 1);
	width:313.20001220703125px;
	height:49.16666793823242px;
	position:absolute;
	left:32px;
	top:358px;
	font-family:Nunito;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}.e25_45 { 
	background-color:rgba(249.00000035762787, 198.00000339746475, 5.000000176951289, 1);
	width:360px;
	height:75px;
	position:absolute;
	left:0px;
	top:0px;
}.e25_46 { 
	color:rgba(255, 255, 255, 1);
	width:119px;
	height:54px;
	position:absolute;
	left:116px;
	top:8px;
	font-family:Nunito;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}.e25_47 { 
	width:408px;
	height:450px;
	position:absolute;
	left:1115px;
	top:126px;
}.e25_48 { 
	background-color:rgba(249.00000035762787, 198.00000339746475, 5.000000176951289, 1);
	width:360px;
	height:75.83333587646484px;
	position:absolute;
	left:0px;
	top:345px;
}.e25_49 { 
	background-color:rgba(253.93750101327896, 137.12626665830612, 0, 0.699999988079071);
	width:360px;
	height:375px;
	position:absolute;
	left:0px;
	top:75px;
}.e25_50 { 
	width:317px;
	height:270px;
	position:absolute;
	left:18px;
	top:75px;
	background-image:url(images/odessa_.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e25_51 { 
	color:rgba(255, 255, 255, 1);
	width:313.20001220703125px;
	height:49.16666793823242px;
	position:absolute;
	left:23px;
	top:358px;
	font-family:Nunito;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}.e25_52 { 
	background-color:rgba(249.00000035762787, 198.00000339746475, 5.000000176951289, 1);
	width:360px;
	height:75px;
	position:absolute;
	left:0px;
	top:0px;
}.e25_53 { 
	color:rgba(255, 255, 255, 1);
	width:381px;
	height:49px;
	position:absolute;
	left:27px;
	top:13px;
	font-family:Nunito;
	text-align:left;
	font-size:38px;
	letter-spacing:0;
}.e25_54 { 
	width:370px;
	height:145px;
	position:absolute;
	left:1523px;
	top:670px;
}.e25_55 { 
	background-color:rgba(253.93750101327896, 137.12626665830612, 0, 0.699999988079071);
	width:323px;
	height:143px;
	position:absolute;
	left:24px;
	top:2px;
}.25_55 { 
	border:7px solid rgba(232.00000137090683, 132.0000073313713, 13.000000175088644, 1);
}.e25_56 { 
	color:rgba(255, 255, 255, 1);
	width:260px;
	height:81px;
	position:absolute;
	left:110px;
	top:33px;
	font-family:Nunito;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}.e25_66 { 
	width:143px;
	height:143px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/icono_categorias.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e25_58 { 
	width:397px;
	height:143px;
	position:absolute;
	left:1523px;
	top:855px;
}.e25_59 { 
	background-color:rgba(253.93750101327896, 137.12626665830612, 0, 0.699999988079071);
	width:323px;
	height:143px;
	position:absolute;
	left:24px;
	top:0px;
}.25_59 { 
	border:7px solid rgba(232.00000137090683, 132.0000073313713, 13.000000175088644, 1);
}.e25_60 { 
	color:rgba(255, 255, 255, 1);
	width:287px;
	height:81px;
	position:absolute;
	left:110px;
	top:37px;
	font-family:Nunito;
	text-align:left;
	font-size:44.5px;
	letter-spacing:0;
}.e25_61 { 
	width:143px;
	height:143px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/icono_categorias.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e25_62 { 
	width:323px;
	height:143px;
	position:absolute;
	left:1547px;
	top:475px;
}.e25_63 { 
	background-color:rgba(253.93750101327896, 137.12626665830612, 0, 0.699999988079071);
	width:323px;
	height:143px;
	position:absolute;
	left:0px;
	top:0px;
}.25_63 { 
	border:7px solid rgba(231.62500709295273, 132.39527732133865, 12.546353917568922, 1);
}.e25_64 { 
	color:rgba(255, 255, 255, 1);
	width:144px;
	height:64px;
	position:absolute;
	left:152px;
	top:37px;
	font-family:Nunito;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e25_65 { 
	width:143px;
	height:143px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/rectangle_14.png);
	background-repeat:no-repeat;
	background-size:cover;
}