.19_184 { 
	overflow:hidden;
}.e19_184 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}.e19_185 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}.e19_186 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/rectangle_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e19_187 { 
	background-color:rgba(253.93750101327896, 137.12626665830612, 0, 0.699999988079071);
	width:1920px;
	height:95px;
	position:absolute;
	left:0px;
	top:0px;
}.e19_188 { 
	width:1834px;
	height:58px;
	position:absolute;
	left:68px;
	top:18px;
}.e19_189 { 
	color:rgba(255, 255, 255, 1);
	width:1834px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Nunito;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}.e19_248 { 
	width:1018.776611328125px;
	height:143px;
	position:absolute;
	left:83px;
	top:167px;
}.e19_249 { 
	background-color:rgba(253.93750101327896, 137.12626665830612, 0, 0.699999988079071);
	width:1018.776611328125px;
	height:143px;
	position:absolute;
	left:0px;
	top:0px;
}.19_249 { 
	border:7px solid rgba(232.00000137090683, 132.0000073313713, 13.000000175088644, 1);
}.e19_250 { 
	color:rgba(255, 255, 255, 1);
	width:811px;
	height:121px;
	position:absolute;
	left:103px;
	top:11px;
	font-family:Nunito;
	text-align:left;
	font-size:90px;
	letter-spacing:0;
}.e24_7 { 
	width:218px;
	height:110px;
	position:absolute;
	left:769px;
	top:14px;
	background-image:url(images/logo_resistencia.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e19_253 { 
	width:1018.776611328125px;
	height:143px;
	position:absolute;
	left:83px;
	top:367px;
}.e19_254 { 
	background-color:rgba(253.93750101327896, 137.12626665830612, 0, 0.699999988079071);
	width:1018.776611328125px;
	height:143px;
	position:absolute;
	left:0px;
	top:0px;
}.19_254 { 
	border:7px solid rgba(232.00000137090683, 132.0000073313713, 13.000000175088644, 1);
}.e19_255 { 
	color:rgba(255, 255, 255, 1);
	width:811px;
	height:121px;
	position:absolute;
	left:103px;
	top:11px;
	font-family:Nunito;
	text-align:left;
	font-size:90px;
	letter-spacing:0;
}.e25_2 { 
	width:133px;
	height:128px;
	position:absolute;
	left:813px;
	top:11px;
	border-top-left-radius:160px;
	border-top-right-radius:160px;
	border-bottom-left-radius:160px;
	border-bottom-right-radius:160px;
	background-image:url(images/logo_combine.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e19_257 { 
	width:1018.776611328125px;
	height:143px;
	position:absolute;
	left:83px;
	top:567px;
}.e19_258 { 
	background-color:rgba(253.93750101327896, 137.12626665830612, 0, 0.699999988079071);
	width:1018.776611328125px;
	height:143px;
	position:absolute;
	left:0px;
	top:0px;
}.19_258 { 
	border:7px solid rgba(232.00000137090683, 132.0000073313713, 13.000000175088644, 1);
}.e19_259 { 
	color:rgba(255, 255, 255, 1);
	width:811px;
	height:121px;
	position:absolute;
	left:103px;
	top:11px;
	font-family:Nunito;
	text-align:left;
	font-size:90px;
	letter-spacing:0;
}.e25_4 { 
	width:184px;
	height:121px;
	position:absolute;
	left:780px;
	top:11px;
	background-image:url(images/logo_xen.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e19_261 { 
	width:1018.776611328125px;
	height:143px;
	position:absolute;
	left:83px;
	top:767px;
}.e19_262 { 
	background-color:rgba(253.93750101327896, 137.12626665830612, 0, 0.699999988079071);
	width:1018.776611328125px;
	height:143px;
	position:absolute;
	left:0px;
	top:0px;
}.19_262 { 
	border:7px solid rgba(232.00000137090683, 132.0000073313713, 13.000000175088644, 1);
}.e19_263 { 
	color:rgba(255, 255, 255, 1);
	width:811px;
	height:121px;
	position:absolute;
	left:103px;
	top:11px;
	font-family:Nunito;
	text-align:left;
	font-size:90px;
	letter-spacing:0;
}.e25_5 { 
	width:202px;
	height:121px;
	position:absolute;
	left:793px;
	top:11px;
	background-image:url(images/logo_desconocido.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e19_240 { 
	width:435px;
	height:173px;
	position:absolute;
	left:1437px;
	top:737px;
}.e19_241 { 
	background-color:rgba(253.93750101327896, 137.12626665830612, 0, 0.699999988079071);
	width:435px;
	height:173px;
	position:absolute;
	left:0px;
	top:0px;
}.19_241 { 
	border:7px solid rgba(231.62500709295273, 132.39527732133865, 12.546353917568922, 1);
}.e19_242 { 
	color:rgba(255, 255, 255, 1);
	width:193.931884765625px;
	height:77.42657470703125px;
	position:absolute;
	left:204.7058868408203px;
	top:44.762237548828125px;
	font-family:Nunito;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e19_243 { 
	width:192.58514404296875px;
	height:173px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/rectangle_14.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e20_265 { 
	background-color:rgba(255, 122.3999972641468, 0, 1);
	width:209px;
	height:17px;
	position:absolute;
	left:1306px;
	top:169px;
}.e20_266 { 
	background-color:rgba(255, 122.3999972641468, 0, 1);
	width:332px;
	height:17px;
	position:absolute;
	left:1561px;
	top:169px;
}.e20_267 { 
	color:rgba(255, 255, 255, 1);
	width:417px;
	height:80px;
	position:absolute;
	left:1561px;
	top:111px;
	font-family:Nunito;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}.e20_268 { 
	color:rgba(255, 255, 255, 1);
	width:209px;
	height:63px;
	position:absolute;
	left:1319px;
	top:106px;
	font-family:Nunito;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}